<div class="container">
  <div class="header">
    <div class="row logo">
      <div class="column"> <h1>Mode </h1></div>
    </div>
  </div>
  <div class="row content">
    <div class="column medium-2 user-box">
      <app-search-user></app-search-user>
      <app-user></app-user>
    </div>
    <div class="column medium-10 chat-area">
      <div class="header-chat">
        <div style="display: table-cell; vertical-align: middle; padding-left:10px;">
          Current User's name goes here
        </div>
        <div style=" display: table-cell; vertical-align: middle;">
          <div style="width:32px;float: right;">
            X
          </div>
        </div>
      </div>
      <div class="chat-box">        
        Chat's goes here
        <div style="height:2000px"></div>
      </div>
      <div class="type-box">
          <input class="text-box-input" type="text" placeholder="Write your message" />
        </div>
    </div>
  </div>
</div>


<!-- <div class="container">
  <div class="header">
    <div class="row">
      <div class="column"> Mode </div>
    </div>
  </div>
  <div class="row">
    <div class="column medium-2 user-box">
      This is user's box
    </div>
    <div class="column medium-10">
        <div class="header-chat">
          Current User's name goes here
        </div>
        <div class="chat-box">
          Chat's goes here
        </div>
        <div class="type-box">
          Type box goes here
        </div>
    </div>
  </div>
</div> -->