
.search_inner{
    position:relative;
}

input[type="search"] { 
    text-indent: 2em;
    bordeR:none;
    background: none;
    margin-bottom: 5px;
    margin-top: 5px;
}  
            

.fa-search { 
    position: absolute;
    left: 10px;
    top:50%;
    transform: translateY(-50%);

}